* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
  
}

h1 {
  color: #4682b4; 
  text-align:left;
 
}

main img {

  width: 150px;
  height: auto;
  border: 1px solid #4682B4;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float:right;
  margin-left: 1rem;
  
  
}


p {
  padding: 0;
}

main {
  max-width: 70ch;       
  margin: 1rem left;
  padding: 10px;
  text-align: left;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
   } 
   
aside h2 {
position: absolute;
top: 25px;
left: 100px;
 }  

aside img {
  width: 200px;
  height: auto;
  

  

}


footer {
  margin-top: 1em;           
  border-top: 1px solid #000;  
  text-align: center  ;         
  
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding:1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color:white;
  background-color: #eee;
  color: #333;
  
}